name: Deploy Laravel App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: SSH Deploy
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: ${{ secrets.SSH_PORT }}
        script: |
          cd /var/www/project_erlin
          php artisan down

          # pastikan folder selalu sama dengan GitHub (biar gak kejadian konflik lagi)
          git reset --hard
          git clean -fd
          git pull origin main

          composer install --no-dev --optimize-autoloader
          php artisan migrate --force

          # clear cache biar perubahan blade/gambar langsung kebaca
          php artisan optimize:clear

          php artisan up